<section class="order-section">
    <div class="section-header">
        <h2>Órdenes</h2>
    </div>

    <div class="orders-layout">
        <div class="orders-history">
            <div class="orders-history-header">
                <h2>Historial de Órdenes</h2>
            </div>
            <div class="orders-history-list">
                @for (item of userOrders; track item.id) {
                <div class="order-item" (click)="loadOrderItems(item)">
                    <div class="order-header">
                        <span class="order-id text-bold">#{{item.id}}</span>
                        <span [ngClass]="{
                            'badge-success': item.status === 'entregado',
                            'badge-pending': item.status === 'pendiente',
                            'badge-canceled': item.status === 'cancelado'}" 
                            class="order-status badge">
                            {{ item.status }}
                        </span>
                    </div>
                    <div class="order-item-details">
                        <span class="order-amount text-bold">PEN S/{{item.precioTotal}}</span>
                        <span class="order-date text-secondary">{{ item.createdAt | date: 'MMM d, y \'at\' h:mma'
                            }}</span>
                    </div>
                    <div class="total-items">
                        <span class="text-secondary">{{item.totalItems}} items</span>
                        
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="order-details">
            <div class="order-details-header">
                <h2>Orden #{{selectedOrder?.id}}<span class="text-secondary">({{selectedOrder?.totalItems}})</span></h2>
            </div>
            <div class="order-details-content">
                
                @for (item of userItemsOrder; track $index) {
                <div class="order-detail-item d-flex">
                    <img class="product-image" [src]="item.producto.imageUrl"
                        alt="Imagen de Producto 1">
                    <div class="product-info">
                        <div class="product-header text-bold">
                            <span class="product-name">{{item.producto.nombre}}</span>
                            <span class="product-price">PEN S/{{item.cantidad * item.producto.precio}}</span>
                        </div>
                        <div class="product-description">
                            Producto 1 de buena calidad
                        </div>
                        <div class="total-items">
                            <span class="text-secondary">{{item.cantidad}} items</span>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</section>