<div class="home">
    <section class="hero">
        <div class="hero-content-wrapper">
            <h2>Un lugar donde puedes econtras productos de calidad</h2>
            <div class="cards-container">
                <div class="cards-item">
                    <img src="assets/images/image2.png" alt="" srcset="">
                </div>
                <div class="cards-item">
                    <img src="assets/images/image3.png" alt="" srcset="">
                </div>
                <div class="cards-item">
                    <img src="assets/images/image6.png" alt="">
                </div>
                <div class="cards-item">
                    <img src="assets/images/image7.png" alt="" srcset="">
                </div>
                <div class="cards-item">
                    <img src="assets/images/image9.png" alt="">
                </div>
                <div class="cards-item">
                    <img src="assets/images/image10.png" alt="">
                </div>
            </div>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>
        <div class="brand-belt">
            <span class="brand-item"><img src="assets/images/brands/casinelli.png" alt="" srcset=""></span>
            <span class="brand-item"><img src="assets/images/brands/cielo.png" alt="" srcset=""></span>
            <span class="brand-item"><img src="assets/images/brands/inkakola.png" alt="" srcset=""></span>
            <span class="brand-item"><img src="assets/images/brands/lays.png" alt="" srcset=""></span>
            <span class="brand-item"><img src="assets/images/brands/oro.png" alt="" srcset=""></span>
            <span class="brand-item"><img src="assets/images/brands/picaras.png" alt="" srcset=""></span>
            <span class="brand-item"><img src="assets/images/brands/sanluis.png" alt="" srcset=""></span>
        </div>

    </section>
</div>