<div>
    <h2 class="section-title">Productos</h2>
    <button class="show-form-btn" (click)="toggleForm()">
        {{ showForm ? 'Hide Form' : 'Show Form' }}
    </button>
    <app-product-form 
        *ngIf="showForm"
        [productToEdit]="selectedProduct" 
        (formClosed)="toggleForm()"
        (productCreated)="onProductUpdated()"
        (productUpdated)="onProductUpdated()">
    </app-product-form>

    <div class="grid-table">

        <div class="grid-header">
            <div class="grid-cell">Nombre</div>
            <div class="grid-cell">Imagen</div>
            <div class="grid-cell">Stock</div>
            <div class="grid-cell">Precio</div>
            <div class="grid-cell">Acciones</div>
        </div>
        @for (producto of productos; track producto.id) {
        <div class="grid-row">
            <div class="grid-cell">{{producto.nombre}}</div>
            <div class="grid-cell"><img [src]="producto.imageUrl" alt="" srcset=""></div>
            <div class="grid-cell">{{producto.stock}}</div>
            <div class="grid-cell">S/{{producto.precio}}</div>
            <div class="grid-cell">
                <button (click)="onEdit(producto)">🛠️</button>
                <button (click)="onDelete(producto.id)">🗑️</button>
            </div>
        </div>
        }
    </div>
</div>