<div class="grid-table">
    <div class="grid-header">
        <div class="grid-cell">Id</div>
        <div class="grid-cell">Nombre</div>
        <div class="grid-cell">Stock</div>
        <div class="grid-cell">Precio</div>
        <div class="grid-cell">Editar</div>
        <div class="grid-cell">Eliminar</div>
    </div>
    @for (producto of productos; track producto.id) {

    <div class="grid-row">
        <div class="grid-cell">{{producto.nombre}}</div>
        <div class="grid-cell"><img [src]="producto.imageUrl" alt="" srcset=""></div>
        <div class="grid-cell">{{producto.stock}}</div>
        <div class="grid-cell">{{producto.precio}}</div>
        <div class="grid-cell">🛠️</div>
        <div class="grid-cell">🗑️</div>
    </div>
    }
</div>