<div class="grid-table">
  <div class="grid-header">
    <div class="grid-cell">Id</div>
    <div class="grid-cell">Nombre</div>
    <div class="grid-cell">Acciones</div>
  </div>
  @for (category of categoriesPaginadas; track category.id) {

  <div class="grid-row">

    <div class="grid-cell">{{category.id}}</div>
    <div class="grid-cell">{{category.nombre}}</div>
    <div class="grid-cell">
      <button (click)="onEditClick(category)">🛠️</button>
      <button (click)="onDelete(category.id)">🗑️</button>
    </div>
  </div>
  }
</div>
<div class="paginacion" *ngIf="totalPaginas > 1">
  <button (click)="paginaAnterior()" [disabled]="paginaActual === 1" class="btn-paginacion">
    ← Anterior
  </button>

  <button *ngFor="let pagina of paginasArray" (click)="cambiarPagina(pagina)" [class.activa]="pagina === paginaActual"
    class="btn-numero">
    {{ pagina }}
  </button>

  <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas" class="btn-paginacion">
    Siguiente →
  </button>
</div>