.navbar,
.page-options,
.user-options,
.options {
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    font-size: 22px;
    padding: 0 20px;

}

.navbar .logo img {
    width: 120px;
}

.page-options {
    width: 600px;
    min-width: 100px;

    justify-content: space-evenly;
}

.page-options {
    list-style: none;
}

.user-options .option-item {
    margin-left: 20px;
}

.user-options .option-item svg{
    width: 25px;
    height: 25px;
}
