<nav class="navbar">
    <div class="logo">
        <img [src]="fullImagePath" alt="" srcset="">
    </div>
    <div class="options">
        <ul class="page-options">
            <li><a href="">Inicio</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Tienda</a></li>
        </ul>
        <div class="user-options">
            <div>
                <img src="" alt="user">
            </div>
            <div>
                <img src="" alt="cart">
            </div>
        </div>
        <div></div>
    </div>
    
</nav>
